.search_result_popover {
    max-height: 50rem;
}

.search_result_popover_title {
    width: 30rem;
    padding: 0.5rem 1rem;
    background-color: #EBF6FF;
    border-bottom: 1px solid #e8eef7;
    color: #0056D2;
}

.search_result_popover_content {
    max-height: 50rem;
    width: 30rem;
    padding: 1rem;
}
