.staff_header1{
    height: 4rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.staff_header1_mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 30px;
    margin: 20px;
}

.col1{ 
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: start;
}

.col2{ 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.col2 input {
    display: block;
}

.col2 span{
    height: fit-content;
}

.col3{ 
    display: flex;
}

